#about{
    background-color: #1c3c4d;
    padding-top: 100px;
    padding-bottom: 40px;

}

.aboutme{
    color: #f8f8f8;
    font-size: 40px;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 600;
    text-align: center;
    margin-top: -50px;
}

.message{
    color: #f8f8f8;
    font-size: 20px;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 300;
    font-style: italic;
    margin-left: 90px;
    margin-right: 90px;
    text-align: justify;
}

@media (max-width: 567px) {
    #about{
        margin-top: 300px;
    }
    
    .message{
        margin-left: 40px;
        margin-right: 40px;
    }

    .sbu, .ust{
        margin-left: -40px;
    }

}

.eductitle{
    color: #f8f8f8;
    font-size: 40px;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 600;
    text-align: center;
}

.education{
    margin-top: 90px;
}

.ust1{
    display: flex;
    margin-left: 90px;
}

.ust{
    height: 150px;
}

.ustname{
    color: #f8f8f8;
    font-size: 20px;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    margin-left: 20px;
}

.program{
    color: #f8f8f8;
    font-size: 20px;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 200;
    margin-left: 20px;
    margin-top: -10px;
}

.major{
    color: #f8f8f8;
    font-size: 20px;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 200;
    margin-left: 20px;
    margin-top: -10px;
}

.gwa{
    color: #f8f8f8;
    font-size: 20px;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 200;
    margin-left: 20px;
    margin-top: 35px;
}

.year{
    color: #f8f8f8;
    font-size: 20px;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    position: absolute;
    right: 20px;
    margin-right: 70px;

}

.sbu1{
    display: flex;
    margin-left: 90px;
    margin-top: 50px;
}

.sbu{
    height: 150px;
}

.sbuname{
    color: #f8f8f8;
    font-size: 20px;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    margin-left: 20px;
}

.dept{
    color: #f8f8f8;
    font-size: 20px;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 200;
    margin-left: 20px;
    margin-top: -10px;
}

.strand{
    color: #f8f8f8;
    font-size: 20px;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 200;
    margin-left: 20px;
    margin-top: -10px;
}

.year2{
    color: #f8f8f8;
    font-size: 20px;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    position: absolute;
    right: 20px;
    margin-right: 70px;

}

.collegeinfo-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.collegeinfo-header2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 850px) {
    .collegeinfo-header,
    .collegeinfo-header2 {
        flex-direction: column;
        align-items: flex-start;
    }
    .year,
    .year2 {
        position: static;
        margin: 0;
        margin-top: -10px;
        margin-bottom: 15px;
        margin-left: 20px;
    }
    
    .sbu1, .ust1{
        margin-left: 90px;
        margin-right: 90px;
    }
}

@media (max-width: 730px) {
    .ust, .sbu{
        height: 100px;
    }

    .ustname, .year, .major, .program,
    .sbuname, .year2, .dept, .strand{
        font-size: 15px;
    }
}

@media (max-width: 567px) {
    .ust, .sbu{
        height: 80px;
    }

    .ustname, .year, .major, .program,
    .sbuname, .year2, .dept, .strand{
        font-size: 12.5px;
        margin-right: -30px;
    }
}