@keyframes slideUpDown {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

.contactcard {
    display: flex;
    align-items: center;
    width: 80%;
    height: 150px;
    background: #d59f70;
    background: -webkit-linear-gradient(220deg, #d59f70 0%, #864500 100%);
    background: linear-gradient(220deg, #d59f70 0%, #864500 100%);
    -webkit-box-shadow: 5.5px 5px 15px -5.5px #000000;
    -moz-box-shadow: 5.5px 5px 15px -5.5px #000000;
    box-shadow: 5.5px 5px 15px -5.5px #000000;
    border: none;
    border-radius: 10px;
    margin: auto;
    font-family: "Josefin Sans", sans-serif;
    position: relative;
    padding: 10px;
    margin-bottom: -100px;
    animation: slideUpDown 2.5s ease-in-out infinite;
}

.contactimg {
    width: 100px;
    height: 100px;
    background: #e8e8e8;
    border-radius: 50%;
    margin-right: 20px;
    margin-left: 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contactlinks {
    flex: 1;
    display: flex;
}

.contactslogan {
    flex-shrink: 0;
    margin-right: 20px;
    align-self:flex-start;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}


.slogan{
    color: white;
    font-size: 30px;
    font-weight: 900;
    font-family: "Josefin Sans", sans-serif;
    text-align: end;
}

.memoji {
    height: 90px;
}

.contactinfo2{
    margin-left: 15px;
}

.info {
    font-weight: 400;
    color: white;
    display: block;
    font-size: 1em;
}

.info i {
    margin-right: 5px;
}

.info a {
    color: white;
    text-decoration: none;
}

.info:hover a {
    color: #1c3c4d;
    text-decoration: underline;
}

.info:hover i {
    color: #1c3c4d;
}

.messageslogan {
    color: white;
    font-size: 13px;
    font-weight: 300;
    font-family: "Josefin Sans", sans-serif;
    text-align: end;
    margin-top: 10px;
}

.contactimg2 {
    width: 80px;
    height: 80px;
    background: #e8e8e8;
    border-radius: 50%;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    display: none;
    margin-right: 20px;
}

.memoji2 {
    height: 60px;
    margin-top: 10px;
}

@media (max-width: 1150px) {
    .contactcard {
        width: 70%;
    }

    .contactimg {
        width: 90px;
        height: 90px;
    }

    .memoji {
        height: 80px;
    }

    .info {
        font-size: 0.8em;
    }

    .slogan{
        font-size: 25px;
    }

    .messageslogan{
        font-size: 11px;
    }
}

@media (max-width: 1110px) {
    .contactcard {
        width: 60%;
    }

    .contactimg {
        width: 80px;
        height: 80px;
    }

    .memoji {
        height: 60px;
    }

    .info {
        font-size: 0.7em;
    }

    .slogan{
        font-size: 20px;
    }

    .messageslogan{
        font-size: 8.5px;
    }

    .contactslogan{
        margin-top: 45px;
    }
}

@media (max-width: 1085px) {
    .contactcard {
        margin-bottom: -100px;
        display: block;
        height: 100%;
        text-align: center;
        height: 160px;
    }

    .contactimg {
        width: 80px;
        height: 80px;
        margin: 0 auto;
    }

    .memoji {
        height: 60px;
    }

    .contactlinks {
        display: flex;
    }

    .info {
        font-size: 0.7em;
        text-align: left;
        margin-left: 20px;
    }

    .slogan {
        font-size: 20px;
        text-align: right;
    }

    .messageslogan {
        font-size: 8.5px;
        text-align: right;
    }

    .contactslogan{
        margin-right: 20px;
        margin-top: -75px;

    }
}

@media (max-width: 1085px) {
    .contactcard {
        width: 80%;
    }
}

@media (max-width: 735px) {
    .contactcard {
        height: 250px;
        width: 50%;
    }

    .slogan, .messageslogan {
        text-align: left;
    }
    
    .contactslogan {
        margin-left: 20px;
        margin-top: 10px;
        margin-right: -90px;
    }
}

@media (max-width: 681px) {
    .info i{
        font-size: 0.8em;
    }
}

@media (max-width: 673px) {
    .contactcard {
        width: 60%;
        max-width: 80%;
    }
}

@media (max-width: 567px) {
    .contactcard {
        width: 70%;
        height: 170px;
    }

    .contactimg{
        display: none;
    }

    .contactimg2{
        display: unset;
        margin-left: 130px;
    }

    .contactsbottom{
        display: flex;
    }

    .contactslogan{
        margin-right: -110px;
    }
}

@media (max-width: 481px) {
    .contactinfo, .contactinfo2{
        font-size: 0.8em;
    }

    .contactimg{
        display: none;
    }

    .memoji2{
        height: 50px;
        margin-top: 5px;
    }

    .contactimg2{
        display: unset;
        margin-left: 130px;
        height: 60px;
    }

    .slogan{
        font-size: 15px;
    }

    .messageslogan{
        font-size: 8.5px;
    }

    .contactcard {
        height: 135px;
    }
}

@media (max-width: 461px) {
    .contactimg2{
        margin-left: 120px;
        margin-top: 10px;
    }
}

@media (max-width: 442px) {
    .contactimg2{
        margin-right: 10px;
    }
}

@media (max-width: 428px) {
    .contactimg2{
        display: none;
    }
}


@media (max-width: 403px) {
    .contactcard{
        height: 100%;
    }

    .contactinfo{
        margin-right: -20px;
    }
}

@media (max-width: 347px) {
    .messageslogan{
        margin-right: 15px;
    }

    .contactslogan{
        margin-left: 10px;
    }

    .contactinfo{
        margin-left: -8px;
    }
}

.text-cloud{
    background-color: #373A40;
    width: 250px;
    height: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-inline: auto;
    padding: 1%;
}

.hellocloud{
    color: white;
    font-family: "Josefin Sans", sans-serif;
    text-align: center;
}

.text-cloud-triangle {
    border-radius: 5px;
    margin-inline: auto;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #373a40 transparent transparent transparent;
    margin-top: -1px;
}

.cloudpic{
    display: flex;
    flex-direction: column;
    display: flex;
    align-items: center;
}

.cloud {
    position:absolute;
    margin-top: -50px;
    display: none;
    animation: text-cloud-in 0.4s ease 0s 1 normal forwards;
}

.fade-in {
    display: block;
    animation: text-cloud-in 0.4s ease 0s 1 normal forwards;
}

.fade-out {
    animation: text-cloud-out 0.4s ease 0s 1 normal forwards;
    display: block;
}

.cloudpic {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@keyframes text-cloud-in {
    0% {
        transform: scale(0);
        transform-origin: 50% 100%;
    }

    100% {
        transform: scale(1);
        transform-origin: 50% 100%;
    }
}

@keyframes text-cloud-out {
    0% {
        transform: scale(1);
        transform-origin: 50% 100%;
    }

    100% {
        transform: scale(0);
        transform-origin: 50% 100%;
    }
}