#projects {
    padding-top: 20px;
    flex-wrap: wrap;
}

.projectsheader {
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow {
    height: 90px;
    transform: rotate(70deg);
    z-index: 1;
    margin-bottom: -40px;
}

.projectstitle {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 650;
    color: #1c3c4d;
    font-size: 40px;
}

.projectcontainer {
    display: flex;
    flex-direction: column;
}

.project1info, .project2info {
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.project1div, .project2div {
    width: 50%;
}

.esumbongpic, .hiccuppic {
    width: 50%;
}

.project1div, .hiccuppic {
    margin-left: 60px;
}

.project2div, .esumbongpic {
    margin-right: 60px;
}

.esumbong, .hiccup {
    width: 100%;
    height: auto;
}

.project1info {
    display: flex;
    margin-bottom: 70px;
}

.project2info {
    display: flex;
    margin-bottom: 70px;
}

.project1description, .project2description {
    text-align: justify;
    font-size: 15px;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 350;
    color: #1c3c4d;
    line-height: 1.5;
}

.project1title, .project2title {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 450;
    color: #1c3c4d;
    font-size: 30px;
    margin-bottom: -10px;
}

.project1div, .hiccuppic {
    margin-right: 30px;
}

.project2div, .esumbongpic {
    margin-left: 30px;
}

.esumbong, .hiccup {
    border: 0.5px solid black;    
    -webkit-box-shadow: 5.5px 5px 15px -5.5px #000000;
    -moz-box-shadow: 5.5px 5px 15px -5.5px #000000;
    box-shadow: 5.5px 5px 15px -5.5px #000000;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, filter 0.3s ease-in-out;
}

.esumbong:hover, .hiccup:hover {
    transform: scale(1.1);
    -webkit-box-shadow: 5.5px 5px 15px -5.5px #000000;
    -moz-box-shadow: 5.5px 5px 15px -5.5px #000000;
    box-shadow: 5.5px 5px 15px -5.5px #000000;    
    filter: brightness(85%);
    cursor: pointer;
}

@media (max-width: 870px) {
    .project1title, .project2title {
        font-size: 20px;
    }

    .project1description, .project2description {
        font-size: 12px;
    }
}

@media (max-width: 800px) {
    .projectstitle {
        font-size: 30px;
    }

    .arrow {
        height: 60px;
    }
    .project1info, .project2info {
        display: block;
    }

    .project1div, .hiccuppic {
        margin-right: 0px;
    }
    
    .project2div, .esumbongpic {
        margin-left: 0px;
    }

    .project1div, .hiccuppic {
        margin-left: 0px;
    }

    .projectcontainer {
        margin-left: 50px;
        margin-right: 50px;
    }

    .project1info, .project2info {
        flex-direction: column;
    }

    .project1div, .hiccuppic,
    .project2div, .esumbongpic {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }

    .project2info {
        display: flex;
        flex-direction: column-reverse;
    }
}

@media (max-width: 580px) {
    .projectstitle {
        font-size: 25.5px;
        margin-left: 40px;
    }

    .arrow {
        height: 45px;
        margin-top: -10px;
        margin-right: 40px;
    }
}

@media (max-width: 535px) {
    .projectstitle {
        font-size: 20px;
        margin-left: 40px;
        font-weight: 800;
    }

    .arrow {
        height: 35px;
        margin-top: -20px;
        margin-right: 40px;
    }
}
