#projects {
    padding-top: 20px;
    flex-wrap: wrap;
}

#projectv2 {
    padding-bottom: 20px;
    flex-wrap: wrap;

}

.projectsheader {
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow {
    height: 90px;
    transform: rotate(70deg);
    z-index: 9999;
    margin-bottom: -40px;
}

.project1 {
    margin-top: 40px;
    margin-left: 5%;
    margin-right: 5%;
    display: flex; 
}

.project1title {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 450;
    color: #1c3c4d;
    font-size: 30px;
    margin-bottom: -10px;
}

.projectstitle {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 450;
    color: #1c3c4d;
    font-size: 40px;
}

.project1content {
    display: flex;
    align-items: flex-start;
}

.project1description {
    font-size: 14px;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 350;
    color: #1c3c4d;
    text-align: justify;
    line-height: 1.5;
    margin-right: -5%;
}

.esumbong {
    height: 300px;
    margin-left: 7%;
    -webkit-box-shadow: 5.5px 5px 15px -5.5px #000000;
    -moz-box-shadow: 5.5px 5px 15px -5.5px #000000;
    box-shadow: 5.5px 5px 15px -5.5px #000000;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, filter 0.3s ease-in-out;
}

.esumbong:hover {
    transform: scale(1.1);
    -webkit-box-shadow: 5.5px 5px 15px -5.5px #000000;
    -moz-box-shadow: 5.5px 5px 15px -5.5px #000000;
    box-shadow: 5.5px 5px 15px -5.5px #000000;    
    filter: brightness(85%);
}

.project2 {
    margin-top: 40px;
    margin-left: 5%;
    margin-right: 5%;
    display: flex; 
}

.project2title {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 450;
    color: #1c3c4d;
    font-size: 30px;
    margin-bottom: -10px;
}

.project2content {
    display: flex;
    align-items: flex-start;
}

.project2description {
    font-size: 14px;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 350;
    color: #1c3c4d;
    text-align: justify;
    line-height: 1.5;
}

.hiccup {
    height: 300px;
    margin-right: 5%;
    -webkit-box-shadow: 5.5px 5px 15px -5.5px #000000;
    -moz-box-shadow: 5.5px 5px 15px -5.5px #000000;
    box-shadow: 5.5px 5px 15px -5.5px #000000;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, filter 0.3s ease-in-out;
}

.hiccup:hover {
    transform: scale(1.1);
    -webkit-box-shadow: 5.5px 5px 15px -5.5px #000000;
    -moz-box-shadow: 5.5px 5px 15px -5.5px #000000;
    box-shadow: 5.5px 5px 15px -5.5px #000000;    
    filter: brightness(85%);
}

@media (max-width: 1333px) {
    .esumbong, .hiccup{
        height: 275px;
    }
}

@media (max-width: 1215px) {
    .project1description, .project2description {
        font-size: 11px;
    }
}

@media (max-width: 1082px) {
    .esumbong, .hiccup{
        height: 255px;
    }

    .project1title, .project2title{
        font-size: 20px;
    }
}

@media (max-width: 1035px) {
    .esumbong, .hiccup{
        height: 220px;
    }

    .project1title, .project2title{
        font-size: 15px;
    }
    .project1description, .project2description {
        font-size: 10px;
    }
}

@media (max-width: 916px) {
    .project1 {
        margin-left: 5%;
        margin-right: 10%;
        display: block; 
    }

    .esumbong{
        align-items: center;
        justify-content: center;
        margin-left: 0%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
    }

    .project2 {
        margin-left: 5%;
        margin-right: 10%;
        display: block; 
    }

    .hiccup{
        align-items: center;
        justify-content: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 150px;
    }
    
    .project2info{
        margin-top: -330px;
    }

    .project2description{
        margin-right: -40px;
    }
}

@media (max-width: 916px) {
    .projectstitle{
        font-size: 32.5px;
    }
}

@media (max-width: 642px) {
    .projectstitle{
        font-size: 27.5px;
    }

    .arrow{
        height: 60px;
    }
}

@media (max-width: 732px) {
    .project2description{
        margin-right: -18.5px;
    }
}

@media (max-width: 542px) {
    .projectstitle{
        font-size: 23.5px;
        font-weight: 600;
    }

    .arrow{
        height: 40px;
        margin-top: -25px;
    }

    .projectsheader{
        margin-bottom: -30px;
    }

    .esumbong, .hiccup{
        height: 180px;
    }
}

@media (max-width: 483px) {
    .project1{
        margin-bottom: 190px;
    }

    .esumbong, .hiccup{
        height: 150px;
        margin-left: 35px;
    }

    .project1title, .project2title{
        font-size: 16px;
        margin-bottom: 1px;
    }
    .project1description, .project2description {
        font-size: 8px;
    }

    .hiccup{
        padding-top: -112250px;
    }      
}

