#skills{
    padding-top: 20px;
    padding-bottom: 40px;
}

.languages {
    background-color: #1c3c4d;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.card {
    width: 130px;
    height: 130px;
    background: #30495f;
    border-radius: 4px;
    padding-top: 10px;
    font-family: "Josefin Sans", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 20px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card span {
    font-weight: 600;
    color: white;
    font-size: 1.3em;
    margin-top: 10px;
}

.card .img, .mysql, .java {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.card .img img {
    width: 70px;
    height: 70px;
}

.mysql img {
    width: 70px;
    height: 50px;
}

.java img {
    width: 50px;
    height: 70px;
}

@media (max-width: 768px) {
    .card {
        width: 100px;
        height: 100px;
    }

    .card span {
        font-size: 1em;
    }

    .card .img img, .mysql img, .java img {
        width: 50px;
        height: 50px;
    }

    .mysql img {
        width: 70px;
        height: 50px;
    }
    
    .java img {
        width: 50px;
        height: 70px;
    }
}

@media (max-width: 480px) {
    .languages {
        align-items: center;
    }

    .card {
        width: 80px;
        height: 80px;
    }

    .card span {
        font-size: 0.9em;
    }

    .card .img img, .mysql img, .java img {
        width: 40px;
        height: 40px;
    }
    .mysql img {
        width: 50px;
        height: 40px;
    }
    
    .java img {
        width: 40px;
        height: 60px;
    }
}

    @media (max-width: 370px) {
        .languages {
            align-items: center;
        }
    
        .card {
            width: 70px;
            height: 70px;
        }
    
        .card span {
            font-size: 0.7em;
        }
    
        .card .img img{
            width: 35px;
            height: 35px;
        }

        .mysql img {
            width: 40px;
            height: 30px;
        }
        
        .java img {
            width: 30px;
            height: 50px;
        }
    }
