#skills{
    padding-top: 20px;
    padding-bottom: 40px;
}

.languages {
    background-color: #1c3c4d;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.card {
    width: 130px;
    height: 130px;
    background: #30495f;
    border-radius: 4px;
    padding-top: 10px;
    font-family: "Josefin Sans", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 20px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card span {
    font-weight: 600;
    color: white;
    font-size: 1.3em;
    margin-top: 10px;
}

.card .img, .mysql, .java {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.card .img img {
    width: 70px;
    height: 70px;
}

.mysql img {
    width: 70px;
    height: 50px;
}

.java img {
    width: 50px;
    height: 70px;
}

@media (max-width: 768px) {
    .card {
        width: 100px;
        height: 100px;
    }

    .card span {
        font-size: 1em;
    }

    .card .img img, .mysql img, .java img {
        width: 50px;
        height: 50px;
    }

    .mysql img {
        width: 70px;
        height: 50px;
    }
    
    .java img {
        width: 50px;
        height: 70px;
    }
}

@media (max-width: 480px) {
    .languages {
        align-items: center;
    }

    .card {
        width: 80px;
        height: 80px;
    }

    .card span {
        font-size: 0.9em;
    }

    .card .img img, .mysql img, .java img {
        width: 40px;
        height: 40px;
    }
    .mysql img {
        width: 50px;
        height: 40px;
    }
    
    .java img {
        width: 40px;
        height: 60px;
    }
}

    @media (max-width: 370px) {
        .languages {
            align-items: center;
        }
    
        .card {
            width: 100px;
            height: 100px;
            margin-right: 20px;
            margin-left: 20px;
        }
    
        .card span {
            font-size: 0.7em;
        }
    
        .card .img img{
            width: 50px;
            height: 50px;
        }

        .mysql img {
            width: 55px;
            height: 45px;
        }
        
        .java img {
            width: 45px;
            height: 65px;
        }
    }

    .skillsdiv{
        display:flex;
        justify-content: center;
        margin-top: 40px;
        margin-right: 60px;
        margin-left: 60px;

    }

    .skillsline {
        margin: 0;
        padding: 0;
        justify-content: center;
        align-items: center;
        background-color: #f0f0f0;
    }
    
    .vertical-line {
        width: 4px;
        height: 100%;
        background-color: #1c3c4d;
    }

    .softskills {
        margin-right: 20px;
    }
    
    .softtitle {
        display: block;
        text-align: right;

    }
    
    .stitle {
        font-size: 20px;
        font-weight: 500; 
        color: #1c3c4d;
        font-family: "Josefin Sans", sans-serif;
        margin: 0;
        padding: 0;
    }  

    
    .hardskills {
        margin-left: 20px;
    }
    
    .hardtitle {
        display: block;
    }
    
    .htitle {
        font-size: 20px;
        font-weight: 500; 
        color: #1c3c4d;
        font-family: "Josefin Sans", sans-serif;
        margin: 0;
        padding: 0;
    }  

    .sskill1{
        font-size: 16px;
        font-weight: 300;
        font-style: italic;
        color: #1c3c4d;
        font-family: "Josefin Sans", sans-serif;
        text-align: right;
    }

    .hskills1{
        font-size: 15px;
        font-weight: 300;
        font-style: italic;
        color: #1c3c4d;
        font-family: "Josefin Sans", sans-serif;
        text-align: justify;
    }

    @media (max-width: 793px) {
        .sskill1, .hskills1{
            font-size: 12px;
        }
    }

    @media (max-width: 566px) {
        .skillsdiv{
            margin-left: 10px;
            margin-right: 10px;
        }
    }

    @media (max-width: 481px) {
        .htitle, .stitle{
            font-size: 15px;
        }
        .sskill1, .hskills1{
            font-size: 10px;
        }
    }

    
    @media (max-width: 426px) {
        .htitle, .stitle{
            font-size: 13px;
        }
        .sskill1, .hskills1{
            font-size: 8px;
        }
    }

